:root {
    --lightgrey: #f9f9f9;
    --darkgrey: #333;
    --blue: #4A90E2;
    --orange: #FF8A00;
    --lightyellow: #FFC72C;
    --weight: #ffffff;
    --font_header: 'Oswald', sans serif;
    --font_text: 'Roboto Slab', sans serif;
}

@font-face {
    font-display: swap;
    font-family: 'Oswald';
    src: url(./fonts/converted-fonts-oswald/Oswald-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-display: swap;
    font-family: 'Oswald';
    src: url(./fonts/converted-fonts-oswald/Oswald-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family:'RobotoSlab';
    src: url(./fonts/converted-fonts-roboto/RobotoSlab-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-display: swap;
    font-family:'RobotoSlab';
    src: url(./fonts/converted-fonts-roboto/RobotoSlab-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 1920px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    padding: 0 120px;
}

.header_container {
    height: 180px;
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

h1 {
    font-family: var(--font_header);
    font-weight: 700;
    font-size: 64px;
    display: flex;
    justify-content: center;
    padding: 45px;
    color: var(--orange);
    background-color: var(--lightgrey);
}

h3{
    font-family: var(--font_header);
    font-weight: 400;
    font-size: 40px;
    color: var(--darkgrey);
    padding: 10px 0;
}

h4{
    font-family: var(--font_header);
    font-weight: 400;
    font-size: 32px;
    color: var(--darkgrey);
    padding: 6px 0;
}
p{
    font-family: var(--font_text);
    font-weight: 400;
    font-size: 26px;
}
li {
    font-family: var(--font_text);
    font-weight: 400;
    font-size: 18px;
    color: var(--darkgrey);
    padding: 8px;
}
a {
    font-family: var(--font_text);
    font-size: 18px;
    font-weight: 400;
    color: var(--orange);
    text-align: center;
}
.datenschutz {
    padding: 20px 100px;
}
.impressum {
    padding: 20px 100px;
}

.footer_container {
    height: 180px;
    background-color: var(--darkgrey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}
footer {
    display: flex;
}

.footer_links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 88px;
}
.logo {
    width: 400px;
    object-fit: contain;
}
.logo_small {
    display: none;
}

.logo_footer {
    width: 250px;
    object-fit: contain;
}

.social_media {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.social_media_group {
    gap: 10px;
}

.galleryContainer {
    cursor: pointer;
    max-width: 200px;
    height: auto;
    margin: 5px;
   
}

.galleryContainer:hover {
    transform: scale(1.05);
    transition: transform 1.5s; 
}


#galleryContainer img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
    object-fit: cover;
}




img:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
   
} 

/* Stile für mein Dialogfenster */

.dialogbox_modal {
    border: none;
    border-radius: 8px;
    padding: 0px;
    max-width: 90vw;
    max-height: 90vh;
    max-width: 1000px;
    max-height: 800px;
    margin: auto;
    }

.dialogbox_modal::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}
.dialogbox_modal:hover {
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}
 
#dialogbox_content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--darkgrey);
}

#dialogImage {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

#dialogbox_caption {
    font-size: 22px;
    margin: 15px;
    padding: 0.5rem;
    color: white;
}




/* #dialogboxImage {
    border: 5px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
} */

.close_button { /*Positioniert den Button absolut zur*/ 
    position: absolute; /* Jetzt fixed, um oben rechts im Viewport zu bleiben */
    top: 10px;
    right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Pfeil-Buttons */
.arrow-button {
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
}

.arrow-button:hover {
    background: white;
}

.arrow-left {
    height: 43px;
    width: 43px;
    left: 20px;
}

.arrow_left {
   height: 45px;
    width: 45px;
}

.arrow-right {
    height: 43px;
    width: 43px;
    right: 20px;
}

.arrow_right{
    height: 45px;
    width: 45px;    
}


.links{
    font-family: var(--font_text);
    font-weight: 400;
    font-size: 28px;
    gap: 10px;
    display: flex;
    color: white;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline 2px solid;
    text-underline-offset: 6px;
    color: var(--orange);
}

.nav_link {
    display: flex;
    gap: 25px;
    padding-top: 100px;
}

@media(max-width:1000px) {
    .logo {
        width: 300px;
    }
    .links {
        font-size: 24px;
        gap: 5px;
    }
}

@media(max-width:900px) {
    .logo {
        width: 250px;
    }
    .logo_footer {
        width: 200px;
    }
    .nav_link {
        font-size: 20px;
        gap: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media(max-width:760px) {
    h1 {
        font-size: 48px;
    }
}

@media(max-width:760px) {
    .logo {
        display: none;
    }
    .logo_small {
        display: block;
        width: 50px;
       height: 50px;
       object-fit: cover;
    }
     .footer_container {
        padding: 0 60px;
    }

}

@media(max-width:600px) {
    h1 {
        font-size: 40px;
        text-align: center;
    }
    .header_container {
        padding: 0 60px;
    }
    .footer_container {
        padding: 0 60px;
    }
    .links {
        font-size: 16px;
        gap: 10px;
    }
    .nav_link {
        gap: 10px
    }
    .logo_footer {
        width: 150px;
    }
    .social_media {
        width: 20px;
        height: 20px;
    }
}

@media(max-width:400px) {
    #datenschutz_h1 {
        font-size: 32px;
        text-align: center;
    }
}

@media(max-width:380px) {
    main {
        padding: 0 20px;
    }
    .header_container {
        padding: 0 35px;
    }
    .impressum {
    padding: 20px 40px;
}
}

@media(max-width:350px){

    h3 {
      font-size: 32px;  
    }

}